/* Container layout */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  display: flex;
  min-height: 100vh;
}

/* General Styles */
.container {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-image: url(../images/user-role-background-image.png);
  background-size: cover;
  padding: 20px;
}

.sidebar .logo img {
  width: 180px;
  height: 120px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li span {
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background: #4b9a4b;
  color: #fff;
}

/* Main content */
main {
  flex: 2;
  padding: 20px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 10px;
}

header h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}

main span {
  color: #4b9a4b;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header input[type="search"] {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 300px; /* Optional: Adjust width for better visibility */
  text-align: left; /* Keeps the text aligned to the left */
}

.notification-detail {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* Notification list */
.notification-list {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/user-role-background-image.png);
  background-position: right;
}

.notification-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.notification-item:hover {
  background-color: #e0e0e0;
}

.notification-item.active {
  background-color: #d4f7dc;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters .filter {
  padding: 10px 20px;
  border: none;
  background-color: #0ac76e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters .filter:hover {
  background-color: #088d4b;
}

.filters .filter.active {
  background-color: #088d4b;
}
